body {
    background-image: url('https://w.wallhaven.cc/full/39/wallhaven-39o5e9.jpg');
    align-items: center;
    font-family: times, "Times New Roman";
}

#megamind {
    background-color: black;
    color:blanchedalmond;
    width: 19.5%;
    border: 2px solid white;
}

#titlemarquee {
    color: blanchedalmond;
    background: black ;
    font-size:24pt; 
    border: 2px solid;
    border-color: blanchedalmond;
    font-family: consolas, "Courier New", monospace;
}

#linkcontainer {
    font-size: 13pt;
    color: blanchedalmond;
    background-color: black;
    width: 19.5%;
    border: 2px solid;
    margin-top: 2px;
    font-family: consolas, "Courier New", monospace;
}

#conveyer {
    color: blanchedalmond;
    background: black ;
    font-size:20pt; 
    border: 2px solid;
    border-color: white;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: blanchedalmond;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: darkred;
    background-color: transparent;
    text-decoration: underline;
  }

#linktitle {
    text-decoration: underline;
}

#bio {
    color: blanchedalmond;
    border: 2px solid;
    border-color: white;
    background-color:black;
    margin-top: 2px;
    font-family: consolas, "Courier New", monospace;
    font-size: 13pt;
    width: 19.5%;
}

#musicbutton {
    color: blanchedalmond;
    border: 2px solid;
    border-color: white;
    background-color:black;
    margin-top: 2px;
    font-family: consolas, "Courier New", monospace;
    font-size: 13pt;
    width: 19.5%;
} 