body {
    background-image: url('images/space.jpg');
    background-size: cover;
    align-items: center;
    font-family: times, "Times New Roman";
    box-sizing: border-box;
}

#megamind {
    background-color: black;
    color:white;
    width: 19.5%;
    border: 2px solid;
    border-color: white;
}

#titlemarquee {
    color: white;
    background: black ;
    font-size:24pt; 
    border: 2px solid;
    border-color: white;
    font-family: consolas, "Courier New", monospace;
}

#linkcontainer {
    font-size: 13pt;
    color: white;
    background-color: black;
    width: 19.5%;
    border: 2px solid;
    margin-top: 2px;
    font-family: consolas, "Courier New", monospace;
    border-color: white;
}

#conveyer {
    color: white;
    background: black ;
    font-size:20pt; 
    border: 2px solid;
    border-color: white;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: darkred;
    background-color: transparent;
    text-decoration: underline;
  }

#linktitle {
    text-decoration: underline;
}

#bio {
    color: white;
    border: 2px solid;
    border-color: white;
    background-color:black;
    margin-top: 2px;
    font-family: consolas, "Courier New", monospace;
    font-size: 13pt;
    width: 19.5%;
}

#musicbutton {
    color: white;
    border: 2px solid;
    border-color: white;
    background-color:black;
    margin-top: 2px;
    font-family: consolas, "Courier New", monospace;
    font-size: 13pt;
    
} 

#amonguscontainer {
    color: white;
    border: 2px solid;
    border-color: white;
    background-color:black;
    margin-top: 2px;
    font-family: consolas, "Courier New", monospace;
    font-size: 17pt;
    /* width: 23.5%; */
    top: 90px;
    position: absolute;
    right: 8px;
    
}

#ytvideo {
    color: white;
    border: 2px solid;
    border-color: white;
    background-color:black;
    margin-top: 2px;
    font-family: consolas, "Courier New", monospace;
    font-size: 17pt;
    /* width: 23.5%;  */
    top: 90px;
    position: absolute;
    right: 490px;
    margin:auto;
}

#bouncebox {
    background-image: url("images/water.jpg");
    color: white;
    border: 2px solid;
    border-color: white;
    background-color:black;
    margin-top: 2px;
    font-family: consolas, "Courier New", monospace;
    font-size: 17pt;
    /* width: 23.5%; */
}   

footer {
    text-align: center;
    font-family: consolas, "Courier New", monospace;
    font-size: 20px;
    border: 2px solid;
    border-color: white;
    color: white;
    background-color:black;
}
    